# GIAN -> Añado esta carpeta para que no se suba a GitHub. No es bien subirles archivos muy gordos.
SpanishRiskAssesment\wc2-5\

.Rproj.user
.Rhistory
.RData
.Ruserdata
DataSciencePlantsESTESI.Rproj
DataSciencePlantsESTESI2.Rproj
.gitignore
wc10
GADM_2.8_ESP_adm0.rds
GADM_2.8_RUS_adm0.rds
