/SpanishRiskAssesment/Bibliografía
/SpanishRiskAssesment/wc2-5
/SpanishRiskAssesment/wc10
/SpanishRiskAssesment/Datos

.Rproj.user
.Rhistory
.RData
.Ruserdata
DataSciencePlantsESTESI.Rproj
DataSciencePlantsESTESI2.Rproj

wc10
GADM_2.8_ESP_adm0.rds
GADM_2.8_RUS_adm0.rds
